body {
  /* 여기서부터는 내가 추가한 코드 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* 여기서부터는 원래 있던 코드 */
  background-image: url("../images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: min-content;
}

#logo {
  justify-content: center;
  width: 8rem;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 48px;
  margin: auto;
}

#carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
}

#content {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.area-img {
  display: flex;
  width: fit-content;
  height: fit-content;
}

#img {
  width: fit-content;
  height: fit-content;
}

.area-arrow {
  display: flex;
  align-items: center;
  width: fit-content;
  height: auto;
  padding: 1rem;
}

.img-btn {
  width: 3rem;
  height: 3rem;
}

.img-btn:hover {
  filter: drop-shadow(2px 2px 2px #222);
}

#index-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dot {
  width: 0.6rem;
  height: 0.6rem;
  background-color: gray;
  border-radius: 1rem;
  margin: 0.6rem;
  margin-bottom: 10rem;
}

.selected {
  background-color: black;
}
