html {
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: medium;
    line-height: 1rem;
}

body {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
}

header {
    position: sticky;
    height: 48px;
}

nav {
    display: flex;
    flex: auto;
    justify-content: flex-end;
    align-items: center;
    height: 48px;
}

.text-area {
    display: flex;
    justify-content: center;
    margin: 8px;
}

.icon-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}

#icon-apps {
    width: 24px;
    height: 24px;
    border-radius: 16px;
}

#icon-profile {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

section {
    display: flex;
    flex: auto;
    justify-content: center;
}

.section-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 272px;
}

.search {
    display: flex;
    flex: 1 1 none;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    max-width: 582px;
    padding: 20px;
}

.search-bar {
    display: flex;
    flex: auto;
    align-items: center;
    height: 46px;
    border-width: 0.5px;
    border-color: rgb(223,225,229);
    border-style: solid;
    border-radius: 23px;
}

#icon-search {
    width: 18px;
    height: 18px;
    color: gray;
    margin-left: 16px;
}

.search-area{
    width: 100%;
    border-width: 0px;
    margin: 8px;
}

input[type=search],input[type=search]:focus,input[type=search]:hover {
    width: 100%;
    border-width: 0px;
    margin: 8px 0;
}

#icon-keybord, #icon-voice {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.buttons {
    display: flex;
    flex: auto;
    justify-content: center;
}

.button {
    background-color: rgb(248,249,250);
    border: none;
    height: 32px;
    border-radius: 4px;
    padding: 4px 16px;
    margin: 24px 4px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(242,242,242);
    width: 100vw;
}

.nations {
    display: flex;
    border-bottom: 1.5px solid rgb(218,220,224);
}

#nation {
    color: gray;
    margin: 16px 24px;
}

.infos {
    display: flex;
    flex: auto;
    align-items: center;
}

.footer-text-area {
    padding: 16px 0px 24px 24px;
}

.info {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.policy {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 32px;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: grey;
}

a:hover {
    color: darkgrey;
    text-decoration: underline;
}

#language {
    color: blue;
}